services:
  - type: web
    name: cefr-feedback
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: HF_TOKEN
        fromSecret: HF_TOKEN
